.roupas {
     color: white;     
}
.cabecalio {
    background-color: #BB86FC;
}
.item {
    background-color: #424250;
}
.casa {
    color: white;
}
.casa .cabecalio {
    background-color: #00C4B4;
}
